* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff5b2e;
  --text-title-color: #000958;
  --text-color: #656689;
  --bg-color-primary: #fffaf5;
  --bg-color-secondary: #fff6ed;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common  */
.container {
  width: 1170px;
  max-width: calc(100% - 270px);
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 131px;
  min-height: 56px;
  border-radius: 31px;
  background-color: #fff;
  border: 1px solid hsla(13, 100%, 59%, 0.6);

  color: #ff5b2e;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1em; /* 100% */
}

h1.title {
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 6.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.15em; /* 115.152% */
}

h2.title {
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19em; /* 119.231% */
}

p.text {
  color: #656689;
  font-weight: 400;
}

.opacity-04 {
  opacity: 0.4;
}

/* header  */

header.header {
  background-color: var(--bg-color-primary);
  padding: 26px 0;
}

header.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li {
  color: #5e6085;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1em; /* 100% */
}

.header__nav ul li.active {
  color: #000958;
  font-weight: 600;
}

.header__nav ul li a {
  padding: 8px 18px;
}

a.btn.header__sign-up {
  min-width: 117px;
  min-height: 50px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid var(--text-title-color);

  color: var(--text-title-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

a.btn.header__sign-up:hover {
  opacity: 0.8;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-3 {
  --line-clamp: 3;
}

.word-break-all {
  word-break: break-all;
}

/* hero  */

.hero {
  padding: 74px 0 77px 0;
  background-color: var(--bg-color-primary);
}

.hero__content {
  display: flex;
  column-gap: 120px;
}

.hero__picture {
  width: 47%;
  height: 582px;
  position: relative;
}

.hero__cat {
  position: absolute;
  top: 0;
  left: 0;
  width: 388px;
  height: 488px;
  overflow: hidden;
  border-radius: 16px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__dog {
  position: absolute;
  top: 302px;
  left: 365px;
  width: 186px;
  height: 244px;
  overflow: hidden;

  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__decor-1 {
  position: absolute;
  top: 0;
  left: 382px;
}

.hero__decor-2 {
  position: absolute;
  top: 247px;
  left: -58px;
}

.hero__cat img {
  width: 150%;
  transform: translateX(-20%);
}

.hero__dog img {
  width: 140%;
  transform: translateX(-20%);
}

/* card  */

.hero__card {
  position: absolute;
  top: 426px;
  left: 129px;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__card-content {
  padding: 20px 14px;
}

.hero__card-item {
  display: flex;
  column-gap: 8px;
}

.hero__card-dog {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
  overflow: hidden;
}

.hero__card-cat {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #c6e2fa;
  overflow: hidden;
}

.hero__card-dog img {
  width: 150%;
  transform: translateX(-10%);
}

.hero__card-cat img {
  width: 100%;
}

.hero__card-text {
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.hero__card-info1 {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero__card-info2 {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero__card-line {
  margin-top: 19px;
  margin-bottom: 19px;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 1px;
}

/* info  */

.hero__info {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__desc {
  width: 76%;
  margin-top: 24px;
  margin-bottom: 38px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87em; /* 187.5% */
}

.hero__link {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

a.btn.hero__cta {
  width: 189px;
  height: 60px;
  border: none;
  background-color: #ff5b2e;
  transition: box-shadow 0.2s;

  color: #fff;
  font-weight: 600;
}

a.btn.hero__cta:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

a.btn.hero__cta span {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hero__schedule {
  color: var(--text-title-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1em; /* 100% */
  text-decoration-line: underline;
}

/* about  */

.about {
  padding: 53px 0;
  overflow: hidden;
  background-color: var(--bg-color-primary);
}

.about__content {
  display: flex;
}

/* info  */

.about__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__sub-title {
  color: var(--text-color);
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.about__title {
  width: 76%;
  margin-top: 15px;
}

.about__desc {
  width: 74%;
  margin-top: 24px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87em; /* 187.5% */
}

/* form  */

.about__form {
  margin-top: 54px;
  width: 81%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 36px 34px;
}

.about__form input {
  display: none;
}

.about__form-item {
  position: relative;
}

.about__form label {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.about__check-custom {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 3px;
  flex-shrink: 0;
}

.about__form label:hover .about__check-custom {
  box-shadow: 0px 2px 15px -0px rgba(255, 91, 46, 0.3);
}

.about__checked {
  position: absolute;
  left: 4px;
  top: 7px;
  width: 16px;
  visibility: hidden;
}

.about__check:checked + .about__checked {
  visibility: visible;
  pointer-events: none;
}

/* illusstration  */

.about__illus {
  position: relative;
  width: 50%;
  height: 559px;
}

.about__picture {
  position: absolute;
  bottom: 0;
  left: 92px;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__picture img {
  height: 140.9%;
  transform: translate(-15%, -29%);
}

/* card  */

.about__card {
  padding: 30px 26px;
  position: absolute;
  top: 157px;
  left: 0;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-year {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1em; /* 100% */
}

.about__card-text {
  margin-top: 14px;
  color: #c6f4f9;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42em; /* 142.857% */
}

/* decor  */

.about__decor-1 {
  position: absolute;
  top: 157px;
  right: -50px;
}

.about__decor-2 {
  position: absolute;
  top: 120px;
  left: 85px;
}

/* vacation  */

.vacation {
  padding: 93px 0 185px;
  background-color: var(--bg-color-primary);
}

.vacation__content {
  display: flex;
}

/* illustration  */

.vacation__illus {
  width: 40%;
  position: relative;
}

.vacation__picture {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.vacation__picture img {
  height: 100%;
  object-fit: cover;
  transform: translateX(10%);
}

/* info  */

.vacation__info {
  padding-left: 127px;
}

.vacation__title {
  margin-top: 36px;
}

.vacation__desc {
  width: 88%;
  margin-top: 24px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87em; /* 187.5% */
}

/* nav  */

.vacation__nav {
  width: fit-content;
  position: relative;
  display: flex;
  flex-shrink: 0;
  column-gap: 56px;
  align-items: center;
  margin-top: 52px;
  padding-bottom: 10px;
}

.vacation__nav::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  opacity: 0.07;
  background: #ff5b2e;
}

.vacation__item {
  position: relative;
  display: flex;
  column-gap: 5px;
  align-items: center;
  flex-shrink: 0;
}

.vacation__item.active::before {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  display: block;
  width: 95px;
  height: 2px;
  border-radius: 1px;
  background: #ff5b2e;
}

.vacation__item img {
  width: 25px;
  height: 25px;
}

.vacation__item-title {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.vacation__nav-text {
  width: 67%;
  margin-top: 36px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71em; /* 171.429% */
}

.vacation__link {
  margin-top: 32px;
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1em; /* 100% */
  text-decoration: underline;
}

/* decor  */

.vacation__decor {
  position: absolute;
  top: -16px;
  right: -42px;
}

/* service  */

.services {
  padding: 68px 0 139px;
  background-color: var(--bg-color-secondary);
  position: relative;
}

.services__sub-title {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.services__title {
  margin-top: 15px;
  text-align: center;
}

/* block  */

.services__block {
  margin-top: 71px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  row-gap: 24px;
}

.services__item:nth-child(even) {
  justify-self: end;
}

.services__item {
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.services__content {
  padding: 30px 22px 30px 28px;
}

.services__item-title {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.services__item-title::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: inline-block;
  width: 2px;
  height: 22px;
  border-radius: 1px;
  background: linear-gradient(180deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services__item-text {
  margin-top: 18px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71em; /* 171.429% */
}

.services__link {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-top: 24px;
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

/* illustration  */

.services__illus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.services__picture {
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__picture img {
  height: 200%;
  transform: translateY(-40%);
  pointer-events: none;
}

a.btn.services__btn {
  margin-top: 45px;
  width: 214px;
  height: 56px;
  background-color: transparent;
}

/* staff  */

.staff {
  padding: 130px 0;
  background-color: var(--bg-color-primary);
  text-align: center;
}

.staff__sub-title {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.staff__title {
  text-align: center;
  margin-top: 15px;
}

.staff__block {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

.staff__item {
  width: calc(25% - 26px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff__box {
  width: 88%;
  height: 266px;
  border-radius: 129.5px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__box.staff__box-2 {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__box.staff__box-3 {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__box.staff__box-4 {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__avt {
  width: 100%;
  height: 299px;
  border-radius: 129.5px;
  /* background-color: hwb(234 0% 65% / 0.341); */
  overflow: hidden;
  transform: translateY(-33px);
}

.staff__avt img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.staff__decor {
  position: absolute;
  width: 100%;
  transform: translateY(145px);
}

.staff__decor-180 {
  transform: translateY(5px);
}

.staff__specialize {
  margin-top: 29px;
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

.staff__name {
  margin-top: 14px;
  color: var(--text-title-color);
  text-align: center;
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

a.btn.staff__btn {
  margin-top: 48px;
  width: 193px;
  height: 56px;
  background-color: transparent;
}

/* choice  */

.choice {
  padding: 86px 0;
  background-color: var(--bg-color-secondary);
}

.choice__title {
  text-align: center;
}

.choice__desc {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: #656689;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87em; /* 187.5% */
}

.choice__btn {
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid hsla(13, 100%, 59%, 0.6);
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1em; /* 100% */
}

.choice__btn-monthly,
.choice__btn-yearly {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice__btn-yearly {
  border-radius: 31px;
  background: var(--primary-color);
  color: #fff;
}

.choice__decor {
  position: absolute;
  top: 0;
  right: -24px;
  transform: translate(100%, -20%);
}

.choice__block {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  column-gap: 44px;
}

.choice__item {
  width: 302px;
  height: 465px;
  border-radius: 20px;
  background: #fff;
  transition: box-shadow 0.2s;
}

.choice__item:hover {
  box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.choice__item-content {
  padding: 30px 28px;
}

.choice__type {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

.choice__name {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.choice__item strong {
  margin-top: 24px;
  display: block;
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
}

.choice__item .choice__purchase {
  margin-top: 22px;
  width: 100%;
  min-height: 44px;
  transition: background-color 0.2s, color 0.2s;
}

.choice__purchase:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: transparent;
}

.choice__text {
  margin-top: 24px;
}

.choice__text p {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 18px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

/* reviews  */

.reviews {
  padding: 76px 0 130px;
  background-color: var(--bg-color-primary);
  overflow: hidden;
}

.reviews__arrow {
  transform: translateY(202px);
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.reviews__arrow-left,
.reviews__arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid hsla(13, 100%, 59%, 0.6);
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
}

.reviews__arrow-left:hover,
.reviews__arrow-right:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.reviews__content {
  display: flex;
  justify-content: center;
  column-gap: 115px;
}

.reviews__picture {
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background: #ffda54;
}

.reviews__img {
  width: 100%;
  height: 427px;
  border-radius: 137px;
  transform: translateY(-77px);
  /* background-color: hsla(234, 100%, 17%, 0.278); */
  overflow: hidden;
}

.reviews__img img {
  height: 130%;
  transform: translate(-10%, -10%);
}

.reviews__info {
  width: 47%;
}

.reviews__feedback {
  margin-top: 24px;
  color: #000;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55em; /* 155.556% */
}

.reviews__author {
  display: flex;
  align-items: center;
  margin-top: 34px;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.reviews__author::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 1px;
  margin-right: 8px;
}

.reviews__positioning {
  transform: translateX(50%);
  margin-top: 56px;
  display: flex;
  column-gap: 8px;
}

.reviews__positioning-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ff5b2e;
}

.reviews__positioning-item.active {
  width: 24px;
  background: #ff5b2e;
  border-radius: 4px;
}

/* blog  */

.blog {
  padding-bottom: 131px;
  background-color: var(--bg-color-primary);
  overflow: hidden;
}

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__content {
  width: 36%;
}

.blog__desc {
  width: 83%;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87em; /* 187.5% */
}

a.btn.blog__btn {
  margin-top: 24px;
  width: 182px;
  height: 56px;
  background-color: transparent;
}

.blog__bottom {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}

.blog__item {
  width: calc(33.33% - 32px);
}

.blog__item:hover .blog__img {
  width: 100%;
  height: 100%;
}

.blog__illus {
  position: relative;
  padding-top: 24px;
  padding-left: 36px;
  width: 100%;
  height: 362px;
  border-radius: 24px;
  background: #90ccff;
  overflow: hidden;
}

.blog__illus.blog__illus-2 {
  background-color: #ff997e;
}

.blog__illus.blog__illus-3 {
  background: #5bd6e2;
}

.blog__time {
  color: #fff;
  font-family: Sora;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21em; /* 121.429% */
}

.blog__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 322px;
  max-width: 100%;
  height: 296px;
  object-fit: cover;
  transition: width 0.2s, height 0.2s;
}

.blog__item-title {
  margin-top: 28px;
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.54em; /* 154.545% */
}

.blog__item-desc {
  margin-top: 16px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71em; /* 171.429% */
}

/* footer  */

.footer__content {
  display: flex;
}

.footer__contact {
  padding-top: 114px;
  padding-left: 135px;
  width: 43%;
  background-color: var(--bg-color-secondary);
}

.footer__form {
  margin-top: 40px;
  display: block;
  width: fit-content;
  position: relative;
}

.footer__email {
  width: 268px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: #fff;
  opacity: 0.6;
  padding-left: 22px;
}

.footer__email::placeholder {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.16em; /* 116.667% */
  opacity: 0.8;
}

.footer__send-email {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(10%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: box-shadow 0.2s;
}

.footer__send-email:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.footer__text-title {
  margin-top: 68px;
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.11em; /* 111.111% */
}

.footer__social {
  margin-top: 16px;
  display: flex;
  column-gap: 16px;
}

.footer__social-item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.footer__info {
  padding-bottom: 48px;
  width: 57%;
  background-color: var(--bg-color-primary);
}

.footer__info-box {
  display: flex;
  column-gap: 137px;
  margin-top: 52px;
  margin-left: 129px;
}

.footer__box-left,
.footer__box-right {
  display: flex;
  row-gap: 58px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__info ul li:first-child {
  margin-bottom: 14px;
  color: var(--text-title-color);
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.11em; /* 111.111% */
}

.footer__info ul li {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2em; /* 200% */
}

.footer__copyright {
  margin-top: 52px;
  margin-left: 22px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16em; /* 116.667% */
  opacity: 0.5;
}
